{#<script type="text/javascript">#}
{#    function changeBorderColour(project_status){#}
{#        if (project_status == "Pending")#}
{#            return element.innerHTML = "primary"#}
{#        else if(project_status == "Completed")#}
{#            return element.innerHTML = "success"#}
{#        else if(project_status == "In Progress")#}
{#            return element.innerHTML = "info"#}
{#        else#}
{#            return element.innerHTML = "danger"#}
{#    }#}
{#</script>#}
<!-- Content Row -->
<div class="row">
    {% for project in projects %}
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <a href="{% url 'detail-project' project.id %}"
               class="btn btn-light card shadow h-100 py-2 {% if project.project_status == project.TYPE_PROJECT_PENDING %}
                    border-left-primary
                {% elif project.project_status == project.TYPE_PROJECT_COMPLETED %}
                    border-left-success
                {% elif project.project_status == project.TYPE_PROJECT_IN_PROGRESS %}
                    border-left-info
                {% else %}
                    border-left-danger
                {% endif %}">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col text-left">
                            <div class="text-xs font-weight-bold text-uppercase mb-1{% if project.project_status == project.TYPE_PROJECT_PENDING %}
                                text-primary
                            {% elif project.project_status == project.TYPE_PROJECT_COMPLETED %}
                                text-success
                            {% elif project.project_status == project.TYPE_PROJECT_IN_PROGRESS %}
                                text-info
                            {% else %}
                                text-danger
                            {% endif %}">{{ project.get_project_status_display }}
                            </div>
                            <div class="h3 mb-0 font-weight-bold text-gray-800">{{ project.title }}</div>
                            <figcaption class="blockquote-footer">Created by {{ project.user }}, {{ project.date_posted|date:"d M Y" }}</figcaption>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}

    {#    <!-- Earnings (Monthly) Card Example -->#}
    {#    <div class="col-xl-3 col-md-6 mb-4">#}
    {#        <div class="btn btn-light card border-left-success shadow h-100 py-2">#}
    {#            <div class="card-body">#}
    {#                <div class="row no-gutters align-items-center">#}
    {#                    <div class="col mr-2">#}
    {#                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">#}
    {#                            Earnings (Annual)</div>#}
    {#                        <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>#}
    {#                    </div>#}
    {#                    <div class="col-auto">#}
    {#                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {##}
    {#    <!-- Earnings (Monthly) Card Example -->#}
    {#    <div class="col-xl-3 col-md-6 mb-4">#}
    {#        <div class="btn btn-light card border-left-info shadow h-100 py-2">#}
    {#            <div class="card-body">#}
    {#                <div class="row no-gutters align-items-center">#}
    {#                    <div class="col mr-2">#}
    {#                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks#}
    {#                        </div>#}
    {#                        <div class="row no-gutters align-items-center">#}
    {#                            <div class="col-auto">#}
    {#                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>#}
    {#                            </div>#}
    {#                            <div class="col">#}
    {#                                <div class="progress progress-sm mr-2">#}
    {#                                    <div class="progress-bar bg-info" role="progressbar"#}
    {#                                        style="width: 50%" aria-valuenow="50" aria-valuemin="0"#}
    {#                                        aria-valuemax="100"></div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <div class="col-auto">#}
    {#                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {##}
    {#    <!-- Pending Requests Card Example -->#}
    {#    <div class="col-xl-3 col-md-6 mb-4">#}
    {#        <div class="btn btn-light card border-left-warning shadow h-100 py-2">#}
    {#            <div class="card-body">#}
    {#                <div class="row no-gutters align-items-center">#}
    {#                    <div class="col mr-2">#}
    {#                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">#}
    {#                            Pending Requests</div>#}
    {#                        <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>#}
    {#                    </div>#}
    {#                    <div class="col-auto">#}
    {#                        <i class="fas fa-comments fa-2x text-gray-300"></i>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
</div>
